@charset "UTF-8";
*{
    margin: 0;
    padding: 0; 
    
}
body{
    background-image: url(image/espaco.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
div { 
    margin-top: 60px;
    text-align: center;
}